* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, 'Times New Roman', Times, serif;
}

.flex {
  display: flex;
}

body {
  justify-content: center;
  width: 100%;
}

main {
  width: 100%;
}

nav {
  height: 3rem;
  padding: 0.5rem 1.5rem;
  background-color: rgba(183, 174, 174, 0.7);
}

.menu-bar{
  height: 0.35rem;
  background-color: #242421;
  margin: 5px;
  width: 2rem;
  border-radius: 5px;
}

header {
  background: url('images/x-section-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
}

/* .header-home {
  background: linear-gradient(rgba(73, 70, 70, 0.5), rgba(73, 70, 70, 0.5)),
  url('images/main-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
} */

.about-main-title, .about-main-paragraph {
  text-align: center;
}

h1{
  font-size: 43px;
  font-weight: 800;
  color: #FF5438;
  font-family: 'lato';
  background-color: rgba(73, 70, 70, 0.5);
  padding: 2rem;
}

.main-paragraph {
  margin: 0rem 2rem;
  padding: 2rem;
  background-color: rgba(183, 174, 174, 0.7);
  color: black;
  border: 2px solid white;
}

.program-date {
  padding: 3rem 2rem;
  background-color: rgba(43, 40, 40, 0.5);
  height: 12rem;
}

#bold-text {
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sub-section-black {
  background-color: #414246;
  color: white;
}

.sub-section-header-black {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #2C2C2C;
}

.section-text-white {
  color: white;
}

 .sub-section-black, .sub-section-white{
  padding: 1rem;
}

.section-header-white, .section-header-black {
  text-align: center;
  margin: 1rem 0rem;
}

.section-header-white {
  color: white;
}

.sub-section-text-black {
  /* margin-top: 1rem; */
  font-size: 12px;
  color: black;
}

.sub-section-text-grey {
  /* margin-top: 1rem; */
  font-size: 12px;
  color: #838383;
}

.contact {
  padding: 2rem 0rem;
  background-color: rgb(0, 0, 0, 0.4);
  height: 12rem;
 }

.contact a {
  font-size: 12px;
  color: white;
}

.sub-section-text-white {
  color: white;
  margin-top: 1rem;
  font-size: 12px;
}

.flex-column {
  flex-direction: column;
}

/* #program-section {
  background: url('images/program-section-bg-removebg-preview.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  height: 100vh;
  background-color: #ff4f38;
} */

.program-list div {
  margin: 0.5rem 0rem;
  background-color: rgb(42, 40, 40);
  padding: 1rem;
}

.program-list img, h3, p {
  margin: 0rem 1rem;
}

.program-icons {
  width: 3.5rem;
  height: 3.5rem;
}

.join-btn {
  margin: 1rem 0rem;
  justify-content: center;
}

.join-btn p {
  background-color: #ff4f38;
  padding: 1.5rem;
}

.line, .line-grey {
  height: 0.2rem;
  width: 2rem;
  background-color: #A04038;
  margin: 0rem 0rem 1.5rem 0rem;
}

.line-grey {
  background-color: rgb(192, 172, 172);
  height: 0.1rem;
  width: 1.5rem;
  margin: 1rem 0rem;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.speaker-image {
  width: 40%;
}

.speaker-details {
  margin: 0rem 1rem;
}

.speaker-details h3, div, p {
  margin: 0rem;
}

#speakers-section {
  padding: 1rem .5rem 2rem 0.5rem;
}

.see-more {
  border: 1px solid rgb(165, 161, 161);
  padding: 0.5rem;
  border-radius: 5px;
}

.see-more div {
  font-size: 13px;
  color: #2C2C2C;
}

.fa-angle-down {
  color: #FF5438;
}

.sub-section-white {
  background-color: white;
}

.logo-image {
  margin: 1rem 0rem 4rem 0rem;
  border: 1px solid rgb(230, 223, 223);
  padding: 2rem;
}

.cards {
  margin: 1.5rem 0rem;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  display: flex;
}

.red-color {
  color: #FF5438;
  ;
}

.simple-cards {
  padding: 2rem 10vw;
}

.simple-cards > div {
  margin: 1rem 0rem;
  height: 40vh;
}

.botswana {
  background: linear-gradient(rgb(240, 6, 6, 0.4), rgb(240, 6, 6, 0.4)),
  url('images/botswana.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.egypt {
  background: linear-gradient(rgb(240, 6, 6, 0.4), rgb(240, 6, 6, 0.4)), url('images/egypt.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.simple-cards-details {
  color: white;
  text-align: center;
  width: 100%;
}

#partners li {
  list-style-type: none;
  margin: 0rem 2rem;
}

footer div {
  margin-right: 2rem;
}

.footer-logo {
  height: 70px;
}

/* ...... */
footer {
  height: 7rem;
 }

 #footer-logo {
  display: flex;
  justify-content: space-between;
 }

 .logo-text {
  display: flex;
  align-items: center;
 }

 /* .....menu...... */

 .menu {
  padding: 5rem;
  background: linear-gradient(rgba(73, 70, 70, 0.5), rgba(73, 70, 70, 0.5)),
  url('images/main-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
 }

 .close {
  justify-content: flex-end;
  color: #A04038;
  font-size: 24px;
  cursor: pointer;
 }

 .menu-list {
  list-style-type: none;
  background-color: rgb(250, 247, 247, 0.3);
  padding: 1rem;
  border: 2px solid white;
 }

 .menu-list li{
  margin: 2rem 0rem;
  display: flex;
  justify-content: center;

}

 .menu-list a{
  text-decoration: none;
  color: black;
  /* margin: 3rem 0rem; */
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 1rem;
}

/* ......... */

.partner-logo {
  height: 4rem;
 }

.display-none, .partners-home, .footer-home, .desktop-program-section-footer, .footer-text, .desktop-cards {
  display: none;
}

@media screen and (min-width: 768px) {
 .desktop-nav {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 1rem 10%;
  background-color: rgba(4, 4, 4, 0.8);
  position: fixed;
  width: 100%;
  height: 5rem;
 }

 .desktop-nav ul, li {
  list-style-type: none;
  margin-right: 1rem;
  align-items: center;
  cursor: pointer;
 }

 .desktop-nav a {
  text-decoration: none;
  color: white;
 }

 .desktop-partners, .partners-home {
  display: block;
 }

 .logo {
  width: 50px;
  height: 50px;
  background: transparent;
 }

 .mobile-nav, .partners-about, .join-btn, .mobile-cards, .see-more {
  display: none;
 }

 header {
  height: 100vh;
 }

 .headline-section {
  padding-top: 10%;
 }

 h1 {
  font-size: 4rem;
  background-color: transparent;
 }

  .program-date {
  padding: 2rem 15% 0rem 10%;
 }

 .main-title {
  padding: 0rem 15% 0rem 10%;
 }

 .main-paragraph {
  padding: 1rem;
  margin: 2rem 0rem 0rem 10%;
  width: 50%;
 }

 #program-section {
  padding-bottom: 4rem;
 }

 .desktop-program-section-footer, .footer-home, .desktop-cards {
  display: flex;
 }

 .program-list {
  flex-direction: row;
  padding: 2rem;
 }

 .program-list div {
  flex-direction: column;
  padding: 0.1rem;
  margin: 0.2rem;
 }

 .program-list img,  h3, p {
  justify-content: center;
 }

 .program-description {
  text-align: center;
 }

 .desktop-program-section-footer p {
  text-decoration: underline;
 }

 .cards-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
 }

 .footer-about {
  background-color: #2C2C2C;
  color: white;
 }

 .footer-text{
  display: block;
 }

 .main-paragragh-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
 }

 .about-main-title {
  padding: 1rem 15%;
 }

 .about-main-paragraph {
  margin: 0rem;
 }

 .simple-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
 }

.simple-cards div {
  width: 35vw;
}

 #special-mentions {
  padding: 5rem 25% 0rem 25%;
 }

 #speakers-section {
  padding: 0rem 7rem;
 }


}
