* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, 'Times New Roman', Times, serif;
}

.flex {
  display: flex;
}

body {
  justify-content: center;
  width: 100%;
}

main {
  width: 100%;
}

nav {
  height: 6rem;
  padding: 1.5rem ;
  background-color: rgba(43, 40, 40, 0.5);
}

#menu-btn {
  position: fixed;
}

.menu-bar{
  height: 0.35rem;
  background-color: #f0e890;
  margin: 5px;
  width: 2rem;
  border-radius: 5px;
}

header {
  background: url('images/x-section-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 80vh;
}

.about-main-title, .about-main-paragraph {
  text-align: center;
}

h1{
  font-size: 43px;
  font-weight: 800;
  color: #f8bc08;
  font-family: 'lato';
  background-color: rgba(43, 40, 40, 0.5);
  padding: 0rem 2rem;
}

.main-paragraph {
  margin: 2rem 2rem 0rem 2rem;
  padding: 2rem;
  background-color: rgba(15, 14, 14, 0.7);
  color: white;
  height: 150px;
}

.program-date {
  padding: 3rem 2rem;
  background-color: rgba(43, 40, 40, 0.5);
  height: 12rem;
}

#bold-text {
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sub-section-black {
  background-color: rgb(28, 27, 27);
  color: white;
}

.sub-section-header-black {
  color: black;
}

.section-text-white {
  color: white;
}

 .sub-section-black, .sub-section-white{
  padding: 1rem;
}

.section-header-white, .section-header-black {
  text-align: center;
  margin: 1rem 0rem;
}

.section-header-white {
  color: #E7B10A;
}


.sub-section-text-black {
  margin-top: 1rem;
  font-size: 12px;
  color: black;
}

.contact a {
  font-size: 12px;
  color: #f8bc08;
}

.sub-section-text-white {
  color: white;
  margin-top: 1rem;
  font-size: 12px;
}

.flex-column {
  flex-direction: column;
}

.program-list div {
  margin: 0.5rem 0rem;
  background-color: rgb(42, 40, 40);
  padding: 1rem;
}

.program-list img, h3, p {
  margin: 0rem 1rem;
}

.program-icons {
  width: 3.5rem;
  height: 3.5rem;
}

.join-btn {
  margin: 1rem 0rem;
  justify-content: center;
}

.join-btn p {
  background-color: #898121;
  padding: 1.5rem;
}

.line {
  height: 0.2rem;
  width: 2rem;
  background-color: #898121;
  margin: 0rem 0rem 0.5rem 0rem;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.speaker-image {
  width: 40%;
}

.speaker-details {
  margin: 0rem 1rem;
}

.speaker-details h3, div, p {
  margin: 0rem;
}

#speakers-section {
  padding: 1rem .5rem;
}

.sub-section-white {
  background-color: white;
}

.cards {
  margin: 1.5rem 0rem;
  padding: 1rem;
  color: white;
  border-radius: 5px;
}

.red-color {
  color: #f8bc08;
}

.simple-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simple-cards > div {
  margin: 1rem 0rem;
}

.botswana {
  background: url('images/botswana.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 30vh;
  width: 80vw;
  border-radius: 10px;
}

.egypt {
  background: url('images/egypt.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 30vh;
  width: 80vw;
  border-radius: 10px;
}

.simple-cards-details {
  color: white;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  padding: 3rem 0rem;
}

#partners li {
  list-style-type: none;
  margin: 1rem 2rem;
}

footer div {
  margin-right: 2rem;
}

.footer-sub {
  margin: 0;
}

.desktop-nav {
  display: none;
}

@media screen and (min-width: 768px) {
 .desktop-nav {
  display: block;
  color: white;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding: 1rem 10%;
  background-color: rgba(4, 4, 4, 0.8);
  position: fixed;
  width: 100%;
 }

 .desktop-nav ul, li {
  list-style-type: none;
  margin-right: 1rem;
  align-items: center;
 }

 .flex {
  display: flex;
 }

 .logo {
  width: 70px;
  height: 70px;
  background: transparent;
 }

 #mobile-nav {
  display: none;
 }

 header {
  height: 100vh;
 }

 .headline-section {
  padding-top: 17%;
 }

 h1 {
  font-size: 4rem;
 }

 .main-title, .main-paragraph, .program-date {
  padding: 0rem 10%;
 }

 .program-list {
  flex-direction: row;
  padding: 2rem;
 }

 .program-list div {
  flex-direction: column;
  padding: 0.1rem;
  margin: 0.2rem;
 }

 .program-list img,  h3, p {
  justify-content: center;
 }

 .program-description {
  text-align: center;
 }

}
